.WhatClientSays {
  height: 660px;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.top_header_right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top_header_content_heading,
.left_intro > h1,
.contact_us_header {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  /* line-height: 70px;
  line */
  line-height: 70px;
  text-align: left;
  gap: 1.8rem;
}
.top_header_para_details {
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 580px) {
  .WhatClientSays {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-position: 50%;
    height: 17vh;
    background-size: contain;
  }
  .top_header_content_heading {
    display: none;
  }
  .top_header_para_details {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .top_header_content_heading,
  .left_intro > h1,
  .contact_us_header {
    font-size: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    color: #ffffff;
    /* gap: 1.8rem; */
  }
}
